<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
   <section name="BruxoSistema.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="Banco" connectionString="User=SYSDBA;Password=masterkey;Database=C:\Users\SistemasBr\source\repos\BruxoSistema\BANCO.fdb;DataSource=localhost; Port=3050;Dialect=3;Charset=UTF8;Role=;Connection lifetime=15;Pooling=false; Packet Size=8192;ServerType=0;"/>
	</connectionStrings>
 <applicationSettings>
  <BruxoSistema.Properties.Settings>
   <setting name="vendarapida" serializeAs="String">
    <value>True</value>
   </setting>
  </BruxoSistema.Properties.Settings>
 </applicationSettings>
</configuration>